.img-link {
  display: inline-flex;
  color: var(--header-text-color);
}

.img-link:visited {
  color: var(--a-color);
}

.img-link img {
  width: auto;
  height: 50px;
  align-self: center;
  transition: transform 0.3s ease;
}

.img-link img:hover {
  transform: scale(1.1);
}

.img-link h2 {
  margin-left: 6px;
}

.tech-img-box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tech-img-box img {
  height: auto;
  width: 90%;
  border-radius: 5px;
}

.comparison-img-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.comparison-img-box img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.comparison-img-box img:hover {
  transform: scale(1.02);
}

@media (min-width: 576px) {
  .comparison-img-box {
    flex-direction: row;
  }
}
